body {
    background-image: none;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
#game {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#SCORE {
    justify-content: space-between;
    display: flex;
    background-color: gold;
    font-size: 24px;
    padding: 10px;
    margin:10px;
    border:13px groove goldenrod;
    min-width: 100%;
    font-weight: bold;
}
#AGAIN{
    display: none;
    margin:10px;
    padding:10px;
    border:6px groove;

}
#title {
    display: flex;
    flex-direction: column;

}
#YES {
    height: 300px;
}
.computer{
    display: flex;
    background-color: aqua;
    border: groove;
    border-width: 12px;
    padding: 10px;
}

img {
    width: 400px;
    height: 400px;
}
input {
    width: 200px;

}