body {
    display: flex;
    align-items: center;
    justify-content: center;
}
#game {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#title {
    display: flex;
    flex-direction: column;

}
#YES {
    height: 300px;
}
.computer{
    display: flex;
    background-color: aqua;
    border: solid;
    border-width: 2px;
    padding: 10px;
}

img {
    width: 400px;
    height: 400px;
}
input {
    width: 200px;

}